<header class="fullscreen-element">
	<div class="hero-slider">
		<div class="slide" style="background: url('/assets/bg-7.jpg') 50% 0%;" data-stellar-background-ratio="0.9">
			<div class="container align-vertical hero">
				<div class="row">
					<div class="col-sm-5 text-left">
						<h1>Modern Chair</h1>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates depudiandae sint et molestiae.</p>
						<div class="button-group">
							<a href="#products" class="btn btn-default">Purchase</a>
							<a href="#products" class="btn btn-primary">Shop Now</a>
						</div>
					</div>
				</div><!--end of row-->
			</div><!--end of container-->
		</div>
		<div class="slide" style="background: url('/assets/bg-2.jpg') 50% 0%;" data-stellar-background-ratio="0.9">
			<div class="container align-vertical hero">
				<div class="row">
					<div class="col-sm-5 col-sm-offset-7 text-left">
						<h1>Modern Room</h1>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates depudiandae sint et molestiae.</p>
						<div class="button-group">
							<a href="#products" class="btn btn-default">Purchase</a>
							<a href="#products" class="btn btn-primary">Shop Now</a>
						</div>
					</div>
				</div><!--end of row-->
			</div><!--end of container-->
		</div>
	</div>
</header>