<header class="fullscreen-element">
	<div class="hero-slider">
		<div class="slide" style="background: url('/assets/Flights.png') 50% 0%;" data-stellar-background-ratio="0.9">
			<div class="container align-vertical hero">
				<div class="row">
					<div class="col-sm-5 text-left">
						<h1>CRAFT BEER FOR ALL</h1>
						<p>Brewed in San José, CA</p>
						<!--div class="button-group">
							<a href="#products" class="btn btn-default">Purchase</a>
							<a href="#products" class="btn btn-primary">Shop Now</a>
						</div-->
					</div>
				</div><!--end of row-->
			</div><!--end of container-->
		</div>
		<div class="slide" style="background: url('/assets/IMG_5048-2.jpg') 50% 0%;" data-stellar-background-ratio="0.9">
			<div class="container align-vertical hero">
				<div class="row">
					<div class="col-sm-5 col-sm-offset-7 text-left">
						<h1>CRAFT BEER FOR ALL</h1>
						<p>Brewed in San José, CA</p>
						<!--div class="button-group">
							<a href="#products" class="btn btn-default">Purchase</a>
							<a href="#products" class="btn btn-primary">Shop Now</a>
						</div-->
					</div>
				</div><!--end of row-->
			</div><!--end of container-->
		</div>
	</div>
</header>